#######################
# Django Project (Backend)
#######################

# Python/Django specific
Backend/*.log
Backend/*.pot
Backend/*.pyc
Backend/__pycache__/
Backend/db.sqlite3
Backend/media/

# Virtual environment
Backend/env/
Backend/.env
Backend/.venv
Backend/ENV/
Backend/env.bak/
Backend/venv.bak/

# Python
*.py[cod]
*$py.class
.python-version

# Unit test / coverage
Backend/htmlcov/
Backend/.tox/
Backend/.coverage
Backend/.coverage.*
Backend/.cache/
Backend/.pytest_cache/
Backend/nosetests.xml
Backend/coverage.xml
Backend/*.cover
Backend/.hypothesis/

# Jupyter Notebooks
Backend/.ipynb_checkpoints

# celery
Backend/celerybeat-schedule.*

# Packaging / Build
Backend/.Python
Backend/build/
Backend/develop-eggs/
Backend/dist/
Backend/downloads/
Backend/eggs/
Backend/.eggs/
Backend/lib/
Backend/lib64/
Backend/parts/
Backend/sdist/
Backend/var/
Backend/wheels/
Backend/*.whl
Backend/*.egg-info/
Backend/.installed.cfg
Backend/*.egg
Backend/*.manifest
Backend/*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

#######################
# Flutter Project (frontend)
#######################

# Flutter/Dart/Pub related
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/doc/api/
frontend/ios/Flutter/.last_build_id

# Android Studio build artifacts
frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/

# Symbolication & Obfuscation
frontend/app.*.symbols
frontend/app.*.map.json

#######################
# IDEs / Editors
#######################

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# PyCharm & IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# IntelliJ generated
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries

# JIRA plugin
atlassian-ide-plugin.xml

#######################
# Miscellaneous
#######################

*.bak
*.class
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# mkdocs
/site

# mypy
.mypy_cache/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# SFTP configs
sftp-config.json

# Package control
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings
